* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.bold {
    font-weight: 1000;
}

div {
    display: flex;
    gap: 5px;
}

h2 {
    font-size: 5rem;
}